@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: antiquewhite;
}

nav ul{
    list-style-type: none;
}
nav{
    background-color: black;
    color: white;
    height:65px;
    font-size:30px ;
    display: flex;
    padding: 0 12px;
    align-items: center;
    font-family: 'Roboto',sans-serif;
}


.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto',sans-serif;
}
.game-container{
   position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box:hover{
    background-color: rgb(217, 100, 252);
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}
.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2',cursive;
}
.gameInfo h1{
    font-size: 1.5rem;;
}
.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.line{
    background-color: black;
    position: absolute;
    height:3px;
    width: 0vw;
  background-color: #911d91;
    transition: width 1s ease-in-out;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
#reset{
   padding: 10px 10px ;
   margin: 20px;
   background-color: rgb(223, 183, 27);
   color: black;
   border: 2px dotted black;
   border-radius: 20px;
   cursor: pointer;
    font-family:'Baloo Bhaina 2',cursive ;
    font-weight: bolder;
}
.info{
    font-size: 25px;
}
@media  screen and (max-width:950px) {
     .game-container{
        flex-wrap: wrap;
     }
     .gameInfo{
        margin-top: 34px;
     }
     .gameInfo h1{
        font-size: 1.5rem;
     }
     .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
     }
}